body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fafad2;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.8em;
    margin: 0;
    color: #8B4513;
    font-weight: bold;
}

.card-description {
    font-size: 1em;
    color: #5B3A29;
    margin-top: 10px;
    max-width: 100%;
    word-wrap: break-word;
}
