body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fafad2; /* Light pastel yellow */
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    overflow: hidden;
    width: 90%; /* Responsive width */
    max-width: 400px; /* Maximum width */
    text-align: center;
    transition: transform 0.3s; /* Smooth hover effect */
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px; /* Increased padding for a better look */
}

.card-title {
    font-size: 1.8em; /* Slightly larger title */
    margin: 0;
    color: #8B4513; /* Shade of brown */
    font-weight: bold; /* Bold title */
}

.card-description {
    font-size: 1em;
    color: #5B3A29; /* Darker shade of brown */
    margin-top: 10px; /* Space between title and description */
    max-width: 100%; /* Ensure description width is responsive */
    word-wrap: break-word; /* Break long words */
}
